.graph_widget {
  background: white;
  border-radius: 8px;
  border: 1px solid #e1e5e9;
  overflow: hidden;
  height: 300px;
  padding: 8px;
  position: relative;

  .widget_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin-bottom: 10px;

    .close_icon {
      cursor: pointer;
      transition: transform 0.3s ease, color 0.3s ease;

      svg {
        width: 20px;
        height: 20px;
        color: #555;
      }

      &:hover {
        transform: rotate(90deg) scale(1.2);

        svg {
          color: #ff4d4f;
        }
      }
    }
  }

  .widget_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 10px;
      font-size: medium;
      color: #666;
    }
  }
}
